<h1 mat-dialog-title>Delete Category</h1>
<form [formGroup]="DeleteCategoryForm" (ngSubmit)="onSubmit()">
  <mat-card appearance="outlined" class="matcard">
    <mat-card-header class="login">Delete Category</mat-card-header>
    <mat-form-field class="example-full-width">
      <mat-label>Enter Id</mat-label>
      <input matInput type="id" placeholder="enter id" formControlName="id" />
      @if(id.invalid &&( id.dirty || id.touched)){ @if(id.errors?.['required']){
      <small class="colo"> Id is required</small>
      } }
    </mat-form-field>
  </mat-card>
  <div mat-dialog-actions>
    <button
      mat-raised-button
      type="submit"
      [disabled]="DeleteCategoryForm.invalid"
    >
      Submit
    </button>
  </div>
</form>
